@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("boxicons/css/boxicons.min.css");

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  .hero_icon {
    @apply size-7 hover:animate-accordion-up hover:cursor-pointer shadow-xl shadow-gray-500;
  }
  body {
    @apply bg-background text-foreground;
  }

  .section_title {
    @apply text-[1.75rem] flex flex-row justify-center items-center hover:underline gap-2 pl-4 font-semibold  text-emerald-500;
  }

  .title {
    @apply text-[2rem];
  }

  .tech_stack {
    @apply p-1 rounded-md bg-gray-700 text-white text-sm;
  }

  #skill_card > p > span {
    display: inline-block;
    padding: 0.01rem;
    border-radius: 10%;
    position: relative;
    @apply animate-bounce bg-gray-700 hover-underline-animation;
  }

  .hover-underline-animation {
    display: inline-block;
    background-color: #047857;
    padding: 2px;
    border-radius: 10%;
    position: relative;
    @apply animate-ping;
  }

  .hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #10b981;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

@layer base {
  .categories_container {
    @apply flex flex-row flex-wrap justify-center gap-2 md:gap-4 lg:gap-5 bg-transparent shadow-inner shadow-gray-800 hover:shadow-gray-700  border border-gray-600 p-2 rounded-md md:w-[600px] lg:w-[800px] xs:w-full sm:w-full;
  }
  .categories_nav {
    @apply border text-white border-emerald-700 px-2 lg:px-4 rounded-md hover:border-emerald-500 hover:shadow-lg hover:shadow-emerald-500;
  }
}

@layer base {
  .nav_dock {
    outline-width: 0.5px;
    outline-offset: 0;
    outline-color: #047857;
    outline-style: solid;
    animation: animateOutline 4s ease infinite;
  }

  @keyframes animateOutline {
    0% {
      outline-width: 1px;
      outline-offset: 0;
      outline-color: rgba(0, 130, 206, 0);
    }

    10% {
      outline-color: #047857;
    }

    /* The animation finishes at 50% */
    50% {
      outline-width: 7px;
      outline-offset: 4px;
      outline-color: rgba(0, 130, 206, 0);
    }

    100% {
      outline-width: 7px;
      outline-offset: 4px;
      outline-color: rgba(102, 102, 102, 0);
    }
  }
}
